<table>
  <thead>
    <th>Metric</th>
    <th>Count</th>
    <th>Age</th>
    <th>More details</th>
  </thead>
  <tbody>
    <tr>
      <td>MergeQueue</td>
      <td>{{mergeQueue.count}}</td>
      <td>{{mergeQueue.age}} days</td>
      <td><a href="{{mergeQueue.url}}">GitHub View</a></td>
    </tr>
    <tr>
      <td>Untriaged stuff (primary triage)</td>
      <td>{{untriaged.count}}</td>
      <td>{{untriaged.age}} days</td>
      <td><a href="{{untriaged.url}}">GitHub View</a></td>
    </tr>
    <tr *ngFor="let componentInfo of untriagedComponents">
      <td>Untriaged stuff for {{componentInfo.name}}</td>
      <td>{{componentInfo.count}}</td>
      <td>{{componentInfo.age}} days</td>
      <td><a href="{{componentInfo.url}}">GitHub View</a></td>
    </tr>

  </tbody>


</table>
